# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Mypy / Ruff
.mypy_cache/
.ruff_cache/
